**/node_modules
forge-std
logs/

# e2e tests
/cache
/out

# Frontend
.vite

# Batcher file storage
batcher-data/

# Docusaurus
.docusaurus/

# System files
.DS_Store

# Temporary files
packages/client/node/tmux.conf
packages/client/node/install.sh
